sslib
toml
httpx
uvicorn
uvloop
fastapi
requests
google-auth
pydantic[email]
sqlalchemy
alembic
psycopg2-binary
tenacity
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
pyyaml
pymacaroons
PyJWT[crypto]
docker 